html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

.page-layout{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* -------------------------------- */
/* color properties */

:root {
    --color-white: #F9F6F0;
    --color-brown: #8B7E74;
    --color-turquoise: #479689;
}

/* -------------------------------- */
/* font sizes */

:root {
    --fs-xl: clamp(2rem, 12vw, 2.5rem);
    --fs-m: clamp(0.8rem, 4vw , 1.3rem);
    --fs-s: clamp(0.8rem, 4vw , 1.1rem);
}

/* -------------------------------- */
/* Header component */

header {
 display: flex;
 align-items: center;
 flex-direction: column;
}

header a {
    color: var(--color-brown);
    text-decoration: none;
}
.page-logo {
    font-size: var(--fs-xl);
    letter-spacing: 2px;
    font-weight: 800;
    padding: 2rem 0;
    background-color: var(--color-white);
    text-align: center;
    width: 100%;
    position: relative;
   }

.shoppingCart-wrapper {
    position: absolute;
    top: 37%;
    right: 3%;
}

.shoppingCart-icon {
    width: 30px
}

.shoppingCart-wrapper .cart-counter {
    position: absolute;
    top: 30px;
    right: -10px;
    text-align: center;
    border-radius: 100%;
    color: var(--color-turquoise)
}

@media (max-width: 400px) {
    .shoppingCart-wrapper {
        top: 12px
    }
    .shoppingCart-icon {
        width: 25px;
    }
}

nav {
    display: flex;
    justify-content: center;
    gap: 10%;
    padding: 1rem 0;
    background-color: var(--color-brown);
    flex: 1;
    width: 100%;
    font-weight: 800;
}

.header-menu a {
    color: var(--color-white);
    letter-spacing: 2px;
}

.page-logo p {
    font-size: var(--fs-s);
    letter-spacing: 4px;
    margin-top: -3px;
    margin-left: 8px
}

.header-menu .active {
    border-bottom: #479689 3px solid;
}
/* -------------------------------- */
/* Footer component */

footer {
    background-color: var(--color-brown);
    padding: 2rem 0;
    text-align: center;
    margin-top: auto;
    color: var(--color-white)
}

.newsletter-wrapper {
    background-color: var(--color-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 30px 0;
    color: var(--color-white);
}

@media (min-width: 1100px) {
    .newsletter-wrapper {
      flex-direction: row;
      gap: 2em
    }
  }

.newsletter-wrapper h3 {
    margin: 0px;
    max-width: 250px;
    font-size: 22px;
    letter-spacing: 3px;
    color: var(--color-white);
    text-align: center;
    font-size: var(--fs-m);
}

.newsletter-wrapper p {
    max-width: 300px;
    text-align: center;
    letter-spacing: 1px;
    margin: 25px;
    font-size: var(--fs-s);
}

.newsletter-wrapper form {
    display: flex;
}
.newsletter-wrapper input {
    background-color: var(--color-white);
    border: var(--color-white) 1px solid;
    height: 25px;
}

.newsletter-input:focus {
    outline: 2px var(--color-turquoise) solid;
}

.newsletter-button {
    border: none;
    width: 100px;
    background-color: var(--color-turquoise);
    color: var(--color-white);
    letter-spacing: 1px;
}

.imprint {
    background-color: var(--color-white) ;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color: var(--color-brown)
    
}

.imprint-flex {
    width: 90%;
    height:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    max-width: 1000px;
    gap: 15%;
    margin: 2em 0;
}

.imprint-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
    gap: 0.7em;
  }
.imprint-container h3 {
    border-bottom: var(--color-brown) 2px solid;
}

@media (max-width: 765px) {
    .imprint-flex {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
    }

    .imprint-container {
        align-items: center;
    }

    .imprint-container h3 {
        margin-bottom: 0px;
    }
  }

  .imprint-container a {
    color: var(--color-brown);
    text-decoration: none;
  }

/* -------------------------------- */
/* Home page */
.banner-container {
    position: relative;
}

.banner-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    background-position: top;
    margin-top: 0
}

.banner-button {
    position: absolute;
    text-decoration: none;
    color: var(--color-white);
    font-size: var(--fs-s);
    right: 13%;
    bottom: 40px;
    border: none;
    background-color: var(--color-turquoise);
    padding: 12px 40px;
    cursor: pointer;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
}

.banner-button:hover {
    -webkit-filter: brightness(90%);
  }

.text-block {
    text-align: center;
    margin: 80px auto;
    max-width: 300px;
    width: 100%;
    letter-spacing: 1px;
    color: var(--color-brown)
}

/* -------------------------------- */
/* Error 404 page */

.empty-page-wrapper {
    max-width: 500px;
    color: var(--color-brown);
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.empty-page-wrapper img {
    width: 100%;
}

.empty-page-wrapper h2 {
    width: 85%;
    text-align: center;
}

/* -------------------------------- */
/* Books Component */

.search-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    margin: 2rem 0px;
}

.search-buttons a {
    background-color: var(--color-brown);
    color: var(--color-white);
    padding: 0.5em 1em;
    border-radius: 10px;
    text-decoration: none;
}

.search-buttons a:hover {
    -webkit-filter: brightness(90%);
}

.search-buttons .link-active {
    background-color: var(--color-turquoise);
    color: var(--color-white);
}

.search-buttons .link-remove {
    background-color: var(--color-white);
    color: var(--color-turquoise);
    outline: var(--color-turquoise) 1px solid;
}
.shop-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-display {
    display: grid;
    width: 95%;
    margin: 10px 0;
}

@media (min-width: 450px) {
    .book-display {
        width: 75%;
        margin: 10px 0;
    }
  }

  @media (min-width: 1000px) {
    .book-display {
        width: 55%;
        margin: 10px 0;
    }
  }

.book-card  a {
    display: flex;
    align-items: center;
    border-bottom: var(--color-brown) solid 1px;
    text-align: start;
    font-size: var(--fs-m);
    gap: 10px;
    padding: 20px 0;
    text-decoration: none;
}

.book-card:last-child {
    border-bottom: none;
}

.book-card img {
    margin: 10px 0;
    max-width: 40%;
    height: auto;
}

.book-info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1em;
    width: 50%;
    max-width: 400px;
    color: #776154;
}

.book-info p {
    margin: 0px;
}

.warenkorb-Btn {
    height: 30px;
    width: 130px;
    border: none;
    background-color: var(--color-turquoise);
    color: var(--color-white);
    align-self: end;
}

.warenkorb-Btn:hover {
    -webkit-filter: brightness(90%);
}

.pagination {
    display: flex;
    list-style: none;
    gap: 3em;
    align-items: center;
    margin-bottom: 2rem;
}

.pagination-item {
 background-color: var(--color-brown);
 padding: 0.3em 0.8em;
 border-radius: 10px;
 color: var(--color-white);
}

.pagination-active {
 background-color: var(--color-white);
 color: var(--color-turquoise);
 outline: var(--color-turquoise) 2px solid;
}

.pagination-disabled {
    display: none
}

/* -------------------------------- */
/* BookDetails Component */

.bookdetails-backlink {
    display: inline-block;
    font-size: var(--fs-m);
    margin-top: 2em;
    margin-left: 9%;
    text-decoration: none;
    color: var(--color-turquoise);
    font-weight: 800;
    /* border-bottom: var(--color-turquoise) 1px solid; */
}

.bookdetails-container {
    display: flex;
    justify-content:flex-start;
    margin: 3em 0;
}

.bookdetails-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bookdetails-img-container .warenkorb-Btn {
    align-self: center;
    margin: 1.5em 0;
}

.bookdetails-image {
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 0px;
    margin-right: 0px;
}

.bookdetails-information {
    margin: 0 auto;
    max-width: 300%;
    display: flex;
    flex-direction: column;
}

.bookdetails-information > p, h1, h2 {
    margin-top: 0.2em;
    font-weight: 300;
}

.bookdetails-information h1 {
    max-width: 400px;
}

.bookdetails-information h1, h2 {
    font-weight: 500;
}

.bookdetails-title {

}

.bookdetails-author {
    
}

.bookdetails-description {
    max-width: 400px;
}

.bookdetails-title {
    
}

.bookdetails-title {
    
}
@media (max-width: 900px) {
    .bookdetails-container {
        flex-direction: column;
    }
    
    .bookdetails-image {
        margin: auto;
        width: 70%;
        max-width: 450px;
        
    }
    
    .bookdetails-information {
        width: 70%;
        max-width: 450px
    }
    
    .bookdetails-backlink {
        font-size: var(--fs-s);
    }
}

/* -------------------------------- */
/* About Component */


.about {
    color: var(--color-brown);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
    /* insert clamp */  
}

.about-author {
    font-size: clamp(0.5rem, 4vw, 3rem);
}

.about-banner {
    font-size: 2vw;
    text-align: center;
    max-width: 90%;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.about-quote {
    font-size: clamp(1rem, 7vw, 4.5rem);
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.about-display {
    background-color: var(--color-brown);
    color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0px;
}

.about-display h2 {
    font-size: clamp(1.5rem, 7vw, 3rem);
    margin-bottom: 0em;
}

.about-SVG {
    width: 40%;
}

@media (max-width: 500px) {
    .about-SVG {
        width: 30%
    }
}

.promises-display {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-around;
    margin: 2em auto;
    font-size: var(--fs-s)
}

@media (max-width: 800px) {
    .promises-display {
        flex-direction: column;
        align-items: center;
        gap: 3em;
    }
    .promise-card {
        border-bottom: 1px solid var(--color-white);
    }
    .promise-card:last-child {
        border-bottom: none;
    }
}

.promise-card {
    max-width: 200px;
}

.promise-card-head {
    font-weight: 800;
}

.promise-card-text {
    font-weight: 300;
}

.about-description {
    max-width: 700px;
    margin: 2em auto;
    display: flex;
    font-size: var(--fs-m);
}

.about-description-left {
    border-right: var(--color-brown) 3px solid;
    padding: 0 1em;
}

.about-description-left p {
    font-weight: 300;
}

.about-description-right {
    font-weight: 300;
    padding: 0 2em;
    min-width: 150px;
}

.about-description-bold {
    font-weight: 500;
}

@media (max-width: 800px) {
    .about-description {
        flex-direction: column;
    }

    .about-description-right {
        padding: 0 1em;
    }
}

/* -------------------------------- */
/* Contact Component */

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-brown)
}

.contact-message {
    max-width: 250px;
    margin: 2em 0;
}

.contact-display {
    display: flex;
    justify-content: center;
    width: 80%;
    max-width: 1000px;
    margin-bottom: 2em;
}

.contact-display-forms {
    width: 70%;
    border-right: var(--color-brown) 2px solid;
    padding-right: 2em
}

.contact-forms {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact-forms-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-forms-container label {
    width: 100px
}

.contact-forms-container input, .contact-forms-container textarea {
    width: 60%;
    height: 3em;
    border-style: none;
    outline: var(--color-turquoise) 1px solid;
    color: var(--color-turquoise);
    font-size: 15px;
    font-weight: 300;
}

.contact-forms-container textarea {
    height: 10em;
    font-family: 'Roboto', sans-serif;
    resize: none
}

.contact-forms-button {
    max-width: 100px;
    height: 40px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-white);
    border: var(--color-turquoise) 1px solid;
    color: var(--color-turquoise);
    text-align: center;
}

.contact-forms-button:active {
    background-color: var(--color-turquoise);
    color: var(--color-white);
}

.contact-display-info {
    margin-left: 2em
}

@media (max-width: 800px) {
    .contact-display {
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none
    }

    .contact-display-forms {
        width: 90%;
        padding: 0px;
        border: none
    }

    .contact-display-info {
        margin: 0px;
        justify-content: start;
    }

    .contact-forms-container {
        flex-direction: column;
        align-items: start;
    }

    .contact-forms-container input, .contact-forms-container textarea {
        width: 100%;

    }

    .contact-info-content {
        display: flex;
        gap: 2em;
        justify-content: start;
    }
}

/* -------------------------------- */
/* ShoppingCart Component */

.cart-header {
    color: var(--color-brown);
    font-size: clamp(1.5rem, 7vw, 3rem);
    margin-bottom: 0em;
    font-weight: 500;
    margin-top: 0.2em;
}

.book-card:last-child a {
    border: none
}

.contact-forms-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px
}

/* -------------------------------- */
/* Snackbar Component */

.snackbar {
    position: fixed;
    top: 50px;
    right: calc(50% - 100px);
    background-color: var(--color-turquoise);
    border: var(--color-white) 3px solid;
    color: var(--color-white);
    width: 200px;
    height: 70px;
    text-align: center;
    border-radius: 7px;
}

#snackbar-visible {
    display: block;
}

#snackbar-invisible{
    display: none;
}